body, html {
	margin:0;
	padding:0;
	background-color: white; 
}
#wrao {
	width:100%;
	margin:0 auto;
	background: #1b262c;
}
#header{
	padding:5px 10px;
	background: #3282b8;
	text-align:center;
}
#main {
    float:left;
    width:62.66%;
    padding:2%;
    background-image: linear-gradient(#1b262c, #3282b8); /* For browsers that do display gradients. */
	text-align:center;
}
#sidebar {
    float:right;
    width:29.33%;
    padding:2%;
    background:white;
	text-align:center;
}
#footer {
    clear:both;
    padding:5px 10px;
    background:#1b262c;
	text-align:center;
}
#footer p {
    margin:0;
}
h1 {
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 56pt;
}
h2 {
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 32pt;
}
h3 {
	color: #1b262c;
	font-family: 'Great Vibes', cursive;
	font-size: 32pt;
}
p {
	color: white;
	font-family: Georgia;
	font-size: 14pt;
}
tr {
	color: #1b262c;
	font-family: Georgia;
	font-size: 14pt;
}
ol {
	text-align: center;
	list-style-position: inside;
	color: white;
 	font-family: georgia;
	font-size: 14pt;
}


/* CSS for the pets table. */
#pets {
  font-family: Georgia;
  border-collapse: collapse;
  width: 100%;
}

#pets td, #pets th {
  border: 1px solid #ddd;
  padding: 8px;
}

#pets tr:nth-child(even){background-color: #f2f2f2;}

#pets th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1b262c;
  color: white;
}



/* CSS for the pets photos. */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 50%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}

